{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button class="login_btn" type="submit">Login</button>
            <button class="register_btn"><a class="register_btn"
                    href="{% url 'quantummanagementapp:register' %}">Register New Admin Account</a></button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li id="error_message" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">

            {% if not status %}
            <button id="login_with_google" class="btn btn-primary  mb-2">
                <a href="/gmailAuthenticate" onclick="gmailAuthenticate()" title="Google">Login with Google</a>
            </button>
            {% endif %}

            <!-- <button class="btn btn-primary mb-2" onclick="loginfb()"> -->
                <button class="btn btn-primary mb-2" onclick="checkLoginState();">
                <a href="{% url 'social:begin' 'facebook' %}?next={{ next }}">Login with Facebook
                </a>
            </button>
            <button class="btn btn-info mb-2">
                <a href="#">Login with LinkedIn</a>
            </button>




            <!-- <div> 
                {% if not status %} 
                    <a href="/gmailAuthenticate" onclick="gmailAuthenticate()" title="Google">Google</a> 
                {% else %} 
                    <p>Your are verified</p> 
                {% endif %} 
            </div>  -->
<!-- 
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button> -->

        </div>
    </div>
</div>

{% endblock %}


<!-- {% block scripts %} -->
<!-- <script src="{% static 'scripts/socialAuth.js' %}"></script> -->
<!-- {% endblock %} -->
