{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>
        <div class="login_sub_header">Superuser or SysAdmin Accounts</div>
        <form method="POST">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button class="login_btn" type="submit">Login</button>
            <button class="register_btn"><a class="register_btn"
                    href="{% url 'quantummanagementapp:register' %}">Register New SysAdmin Account</a></button>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li id="error_message" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">

            <button id="login_with_auth0" class="btn btn-primary mb-2">
                <img id="auth0_img" src="../../static/images/iconfinder_auth0_4691528.svg" style="width: 26px;">
                <a href="{% url 'social:begin' 'auth0' %}" title="Auth0">Login with Auth0</a>
            </button>

            {% if not status %}
            <button id="login_with_google" class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'google-oauth2' %}" onclick="gmailAuthenticate()" title="Google"> <i
                        class="fab fa-google"></i> Login with Google</a>
            </button>
            {% endif %}

            <button class="btn btn-primary mb-2" onclick="checkLoginState();">
                <a href="{% url 'social:begin' 'facebook' %}"> <i
                        class="fab fa-facebook-square"></i> Login with Facebook

                    <!-- <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"> <i class="fab fa-facebook-square"></i> Login with Facebook -->
                </a>
            </button>
            <button class="btn btn-info mb-2">
                <a href="#"> <i class="fab fa-linkedin"></i> Login with LinkedIn</a>
            </button>

        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">

    // For Google Oauth
function gmailAuthenticate(){
    $.ajax({
        type: "GET",
        url: "ajax/gmailAuthenticate",
        // data: '',
        success: function (data) {
            console.log('Done')
        }
    });
  };

</script>
{% endblock %}
