{% extends 'shared/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="login_btn" type="submit">Login</button>
            <button class="register_btn" href="{% url 'quantummanagementapp:register' %}">Register New Admin Account</button>
        </form>
 </div>
  </div>
     <div class="row">
     <div class="col-md-8 mx-auto social-container my-2 order-md-1">
         <button class="btn btn-danger  mb-2">
             <a href="#">Login with Instagram</a>
         </button>
         <button class="btn btn-primary mb-2">
             <a href="#">Login with Facebook
             </a>
         </button>
         <button class="btn btn-info mb-2">
             <a href="#">Login with LinkedIn</a>
         </button>
     </div>
  </div>
{% endblock %}
