{% extends 'shared/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="welcome_banner">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center"> Welcome {{ user.first_name }} </h4>
    </div>
  <div class="home_page_container">
      <img class="home_image" src="https://www.akamai.com/us/en/multimedia/images/intro/2018/big-data-connector-intro.jpg?imwidth=1366">
      <div class="logo_banner">
        <h1 class="add-shadow">Quantum Management</h1>
      <div class="logo_container">
        <p class="add-shadow">A Quantum LLC systems management application</p>
        </div>
</div>
    </div>
{% endblock %}
