# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py

# pyenv
.python-version

# dotenv
.env

# virtualenv
bangazonEnv/
.vscode
bangzonEnv/

#other 
.DS_Store
*.sqlite3
media/*
*.pyc
*.db
*.pid

# django migrations
migrations

#db connection
connection.py
