version: "3.8"

services:
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=quantumdb
      - POSTGRES_USER=matthewcrook
      - POSTGRES_PASSWORD=password
  web:
    build: .
    # command: gunicorn quantummanagement.wsgi --user www-data --bind 0.0.0.0:8010 
    # command: gunicorn quantummanagement.wsgi:application --bind 0.0.0.0:8000
      command: "startup.sh"
    volumes:
      - .:/app
      - static_volume:/app/web/quantummanagementapp/static
      - media_volume:/app/web/media/images
    ports:
      - "8000:8020"
    # network_mode: service:nginx
    depends_on:
      - db
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/app/web/quantummanagementapp/static
      - media_volume:/app/web/media/images
    ports:
      - 1337:8020
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume:
