[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
astroid = "*"
autopep8 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cloudinary = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
defusedxml = "*"
django = "*"
django-cors-headers = "*"
django-datetimepicker = "*"
django-environ = "*"
django-filter = "*"
django-money = "*"
django-safedelete = "*"
djangorestframework = "*"
djangorestframework-queryfields = "*"
djangorestframework-simplejwt = "*"
django-storages = "*"
drf-jwt = "*"
ecdsa = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
importlib-metadata = "*"
isort = "*"
itypes = "*"
jinja2 = "*"
jsonpickle = "*"
lazy-object-proxy = "*"
markdown = "*"
markupsafe = "*"
mccabe = "*"
pep8 = "*"
psycopg2-binary = "*"
py-moneyed = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pyjwt = "*"
pylint = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
pyparsing = "*"
python-dotenv = "*"
python-jose = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
toml = "*"
typed-ast = "*"
uritemplate = "*"
urllib3 = "*"
wrapt = "*"
zipp = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
