asgiref==3.2.7
astroid==2.4.2
autopep8==1.5.3
Django==3.0.7
django-cors-headers==3.3.0
django-filter==2.3.0
django-safedelete==0.5.5
djangorestframework==3.11.0
importlib-metadata==1.6.1
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
Pillow==7.1.2
pycodestyle==2.6.0
pylint==2.5.3
pylint-django==2.0.15
pylint-plugin-utils==0.6
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
zipp==3.1.0

python-dotenv~=0.9
django~=2.1
social-auth-app-django~=3.1
python-jose~=3.0
