{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/overview/overview.css' %}" type="text/css" />
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div id="overview_viewport">
    <div id="overview_sidebar">
        <header>
            <a class="overview_sidebar_logo" href="#">Quantum</a>
        </header>
        <ul class="overview_nav">
            <li class="overview_sidebar_list_item_container">
                <a class="overview_dashboard_link" href="{% url 'quantummanagementapp:park' park.id %}"><i
                        class="fas fa-globe"></i></a>
            </li>
            <li class="overview_sidebar_list_item_container">
                <a class="overview_dashboard_link" href="#"><i class="fas fa-chart-pie"></i></a>
            </li>
            <li class="overview_sidebar_list_item_container">
                <a class="overview_dashboard_link" href="#"><i class="far fa-chart-bar"></i></a>
            </li>
            <li class="overview_sidebar_list_item_container">
                <a class="overview_dashboard_link" href="{% url 'quantummanagementapp:create_attraction' park.id %}"><i
                        class="fas fa-plus-circle"></i></a>
            </li>
            <li class="overview_sidebar_list_item_container">
                <a class="overview_dashboard_link"
                    href="{% url 'quantummanagementapp:park_list_employees' park.id %}"><i class="fas fa-users"></i></a>
            </li>
        </ul>
    </div>

    <div>{{admin_user.user.first_name}}</div>
    <div>{{park.name}}</div>

    <div>Number Of Attractions in {{park.name}}</div>
    <div>Total: {{num_of_attractions}}</div>

    <div>Number Of Employees in {{park.name}}</div>
    <div>{{employee_count}}</div>

    <div class="charts_container">
        <div id="employee_chart_div"></div>
        <div id="attraction_type_chart_div"></div>

    </div>
    <div class="attendance_chart_container">
        <div id="2019_attendance_comboChart" style="width: 750px; height: 500px;""></div>
        <div id="2020_attendance_comboChart" style="width: 850px; height: 500px;""></div>
    </div>

</div>



{% endif %}
{% endblock %}

{% block scripts%}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="module">
    import { init } from "{% static 'scripts/charts.js'%}"

    var parkId = parseInt(window.location.pathname.split('/')[2]);

    function initCharts(parkId) {
      google.charts.load('current', { 'packages': ['corechart'] }).then(() => {
       init(parkId)
      })
    }
    initCharts(parkId)

</script>

{% endblock %}
