{% extends 'shared/base.html' %}
{% load static %}
{% load l10n %}


{% block content %}

<body>

    <div class="manage_employees_container">
        <div class="manage_employees_title">Manage Employees</div>
        {% if employee.id is not None %}
        <div id="form_header">Edit Employee</div>
        {% else %}
        <div id="form_header">Add New Employee</div>
        {% endif %}
        <div class="add_employee_button">
            <button class="add_tp_btn"><i class="fas fa-long-arrow-alt-left"></i><a class="add_employee"
                    href="{% url 'quantummanagementapp:employee_list' %}">Back</a></button>
        </div>
    </div>


    {% if employee.id is not None %}
    <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:employee_edit_form' employee.id %}"
        method="POST">
        {% csrf_token %}
        {% else %}
        <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:employee_list' %}"
            method="POST">
            {% csrf_token %}
            {% endif %}

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="first_name">First Name: </label>
                    <input required class="new_form" id="first_name" type="text" name="first_name"
                        value="{{ employee.first_name }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="last_name">Last Name: </label>
                    <input required class="new_form" id="last_name" type="text" name="last_name"
                        value="{{ employee.last_name }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="role">Role/ Department: </label>
                    <select class="new_form" id="role" name="role">
                        {% for role in all_roles %}
                        {% if employee.id is not None %}
                        <option {% if employee.role == role %} selected {% endif %} value="{{ role }}">{{ role }}</option>
                        {% else %}
                        <option value="{{ role }}">{{ role }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <a href="{% url 'quantummanagementapp:add_new_role' %}" class="btn6">Create new Position</a>
                </fieldset>
            </div>


            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="compensation">Compensation: </label>
                    <input required class="new_form" id="compensation" type="number" name="compensation"
                        value="{{ employee.compensation }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <div class="radio_btn_container">
                        <label id="pay_rate_label" class="new_form">Pay Rate: </label>
                        <ul>
                            <li class="pay_rate_item">
                                <input {% if employee.pay_rate == 'salary' %} checked {% endif %} type="radio" id="is_salary" name="pay_rate" value="salary" required/>
                                <label for="is_salary">Salary</label>

                                <div class="check"></div>
                            </li>
                            <li class="pay_rate_item">
                                <input {% if employee.pay_rate == 'hourly' %} checked {% endif %} type="radio" id="is_hourly" name="pay_rate" value="hourly" />
                                <label for="is_hourly">Hourly</label>

                                <div class="check">
                                    <div class="inside"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="start_date">Start Date: </label>
                {% if employee.id %}
                <div class="start_date_reminder">Start date currently recorded as: <strong>{{employee.start_date}}</strong></div>
                {% endif %}
                    <input {% if employee.start_date %} checked {% endif %} type='date' class="new_form" id="start_date" name="start_date" required
                        value="{{employee.start_date}}">
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="parks">Park of Employment: </label>
                    <select class="new_form" id="parks" name="parks">
                        {% for park in parks %}
                        <option {% if employee.park_id == park.id %} selected {% endif %} required class="park_options_dropdown" value="{{ park.id }}">{{ park.name }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="employee_attraction">Position Assignment: </label>
                    <select class="new_form" id="employee_attraction" name="employee_attraction">
                    {% for attraction in attractions %}
                        <option {% if employee_attraction.attraction_id == attraction.id %} selected {% endif %} required data-park-id="{{attraction.park_id}}" class="attraction_option_dropdown" value="{{ attraction.id }}">{{attraction.name}}</div></option>
                    {% endfor %}
                    </select>
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <section class="form_admin_note"><strong>Admin User:</strong> {{user.first_name}} {{user.last_name}}
                        -
                        {{user.email}}</section>
                    <div class="p2">*Note - Only admin user responsible for adding an employee may make any future edits
                        to
                        that resource.</div>
                </fieldset>
            </div>

            {% if employee.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="new_form" id="update_employee_btn" type="submit" value="Update" />
            {% else %}
            <input class="new_form" id="create_employee_btn" type="submit" value="Create" />
            {% endif %}

        </form>
    </form>

    <div class="signature">
        {% comment %} <p>Made with <i class="much-heart"></i> by <a href="https://matt-crook-io.now.sh/">Quantum Management</a><i class="far fa-copyright"></i>
        </p> {% endcomment %}
        <p>Made by <a href="https://matt-crook-io.now.sh/">Quantum Management</a> <i class="far fa-copyright"></i>
        </p>
    </div>

</body>

{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/attractionDropdown.js' %}"></script>
{% endblock %}
