{% extends 'shared/base.html' %}

{% block content %}

<body>

    <div class="manage_employees_container">
        <div class="manage_employees_title">Manage Employees</div>
    {% if employee.id is not None %}
    <div id="form_header" >Edit Employee</div>
    {% else %}
    <div id="form_header" >Add New Employee</div>
    {% endif %}
        <div class="add_employee_button">
            <button class="add_tp_btn"><i class="fas fa-backward"></i><a class="add_employee" href="{% url 'quantummanagementapp:employee_list' %}">Back</a></button>
        </div>
    </div>


    {% if employee.id is not None %}
    <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:employee_edit_form' employee.id %}"
        method="post">
        {% csrf_token %}
        {% else %}
        <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:employee_list' %}"
            method="post">
            {% csrf_token %}
            {% endif %}
            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="first_name">First Name: </label>
                    <input class="new_form" id="first_name" type="text" name="first_name" value="{{ employee.first_name }}">
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="last_name">Last Name: </label>
                    <input class="new_form" id="last_name" type="text" name="last_name" value="{{ employee.last_name }}">
                </fieldset>
            </div>


            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="role">Role/ Department: </label>
                    <select class="new_form" id="role" type="text" name="role">
                        {% for role in all_roles %}
                            <option value="{{ employee.role }}">{{ role }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} <button class="new_position_button">Create new Position</button> {% endcomment %}
                    <a href="#" class="btn6">Create new Position</a>
                </fieldset>
            </div>


            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="compensation">Compensation: </label>
                    <input class="new_form" id="compensation" type="number" name="compensation"
                        value="{{ employee.compensation }}">
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <div class="radio_btn_container">
                        <label id="pay_rate_label" class="new_form">Pay Rate: </label>
                        <ul>
                            <li class="pay_rate_item">
                                <input type="radio" id="is_salary" name="pay_rate" value="salary" />
                                <label for="is_salary">Salary</label>

                                <div class="check"></div>
                            </li>
                            <li class="pay_rate_item">
                                <input type="radio" id="is_hourly" name="pay_rate" value="hourly" />
                                <label for="is_hourly">Hourly</label>

                                <div class="check">
                                    <div class="inside"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="start_date">Start Date: </label>
                    <input class="new_form" id="start_date" type="date" name="start_date"value="{{ employee.start_date }}">
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="parks">Park of Employment: </label>
                    <select class="new_form" id="parks" sname="parks">
                        {% for park in parks %}
                        <option value="{{ park.id }}">{{ park.name }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <section class="form_admin_note"><strong>Admin User:</strong> {{user.first_name}} {{user.last_name}}
                        -
                        {{user.email}}</section>
                    {% comment %} <div class="p1"> Not you? Only the admin listed here can edit this resource.</div> {% endcomment %}
                    <div class="p2">*Note - Only admin user responsible for adding an employee may make any future edits
                        to
                        that resource.</div>
                    {% comment %} <input class="new_form" id="start_date" type="date" name="start_date"
                        value="{{ employee.admin_user_id }}"> {% endcomment %}
                </fieldset>
            </div>




            {% comment %} {% if employee.id is not None %}
            <fieldset class="new_form">
                <label class="new_form" for="attendee" class="attendee_list">Current Attendees</label>
                <ol class="new_form">
                    {% for attendee in training_program_employees %}
                    {% if attendee.training_program_id == training_program.id %}
                    <li class="new_form"> {{ attendee.employee.first_name }} {{ attendee.employee.last_name }}</li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </fieldset>

            <fieldset class="new_form">
                <label for="employee_id" class="new_form">Add New Employee To Program: </label>
                <select id="select_employee" type="text" name="employee_id" class="new_form">
                    {% for employee in employees %}
                    <option class="new_form" value="{{ employee.id }}">
                        {{ employee.first_name }} {{ employee.last_name}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            {% endif %} {% endcomment %}

            {% if employee.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="new_form" type="submit" value="Update" />
            {% else %}
            <input class="new_form" id="create_employee_btn" type="submit" value="Create" />
            {% endif %}

        </form>

        <div class="signature">
            <p>Made with <i class="much-heart"></i> by <a href="https://matt-crook-io.now.sh/">Quantum Management</a></p>
        </div>
</body>
{% endblock %}
