{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}" />
{% endblock %}


{% block content %}

<body>

    <div class="manage_employees_container">
        <div class="manage_employees_title">Add New Attraction</div>

        <div class="add_employee_button">
            <button class="add_tp_btn"><i class="fas fa-backward"></i><a class="add_employee"
                    href="{}">Back</a></button>
        </div>
    </div>



        <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:park' park.id %}" method="POST">
            {% csrf_token %}
            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="name">Attraction Name: </label>
                    <input class="new_form" id="name" type="text" name="name" value="{{ attraction.name }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="tyoe">Attraction Type: </label>
                    <select class="new_form" id="tyoe" type="text" name="type">
                        {% for type in attraction_types %}
                        <option value="{{ type.id }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                    <a href="#modal-1" data-micromodal-trigger="modal-1" class="btn6">Create new type</a>
 
                    {% comment %} <button data-custom-close="modal-1">close</button> {% endcomment %}

                        {% comment %} <dialog class="infoDialog">
                            <div class="infoDialog__message">Clicked the button</div>
                            <button class="closeDialog">Close</button>
                            <button id="detail--{{ attraction.id }}">Details</button>
                        </dialog> {% endcomment %}
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="capacity">Capacity: </label>
                    <input class="new_form" id="capacity" type="text" name="capacity" value="{{ attraction.capacity }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <section class="form_admin_note"><strong>Admin User:</strong> {{user.first_name}} {{user.last_name}}
                        -
                        {{user.email}}</section>
                    <div class="p2">*Currently adding this attraction to <strong>{{park.name}}</strong>
                </fieldset>
            </div>


            <input class="new_form" id="create_park_btn" type="submit" value="Create" />
        </form>
    </form>



    <div class="signature">
        <p>Made with <i class="much-heart"></i> by <a href="https://matt-crook-io.now.sh/">Quantum Management</a>
        </p>
    </div>

  <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Add New Attraction Type
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
                <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="type">Type: </label>
                    <input class="new_form" id="type" type="text" name="type" value="{{ type.name }}" />
                </fieldset>
                </div>
          {% comment %} <p>
            Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
          </p> {% endcomment %}
        </main>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary">Submit</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/modal.js' %}"></script>
{% endblock %}
