{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/parks/add_attraction.css' %}" />

{% endblock %}


{% block content %}

<body>
<div id="viewport">

    <div id="sidebar">
        <header>
            <a class="sidebar_logo" href="#">Quantum</a>
        </header>
        <ul class="nav">
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="{% url 'quantummanagementapp:park' park.id %}">
                    Dashboard
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="#">
                     Overview
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="#">
                   Analytics
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="{% url 'quantummanagementapp:create_attraction' park.id %}">
                   Add Attraction
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="{% url 'quantummanagementapp:park_list_employees' park.id %}">
                    Employees
                </a>
            </li>
           {% comment %} <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="#">
                  Contact
                </a>
            </li> {% endcomment %}
        </ul>
    </div>








    <div class="manage_employees_container">
        <div class="manage_employees_title">Add New Attraction</div>

        <div class="add_employee_button">
            <button class="add_tp_btn"><i class="fas fa-backward"></i><a class="add_employee"
                    href="{% url 'quantummanagementapp:park' park.id %}">Back</a></button>
        </div>
    </div>

  {% if attraction.id is not None %}
      <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:attraction_edit_form' attraction.id %}" method="POST">
    {% csrf_token %}
    {% else %}
        <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:create_attraction' park.id %}" method="POST">
        {% csrf_token %}

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="name">Attraction Name: </label>
                    <input required class="new_form" id="name" type="text" name="name" value="{{ attraction.name }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="tyoe">Attraction Type: </label>
                    <select class="new_form" id="tyoe" type="text" name="type">
                        {% for type in attraction_types %}
                        <option value="{{ type.id }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                    <a href="#modal-1" data-micromodal-trigger="modal-1" class="btn6">Create new type</a>
 
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="capacity">Capacity: </label>
                    <input required class="new_form" id="capacity" type="text" name="capacity" value="{{ attraction.capacity }}"/>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <section class="form_admin_note"><strong>Admin User:</strong> {{user.first_name}} {{user.last_name}}
                        -
                        {{user.email}}</section>
                    <div class="p2">*Currently adding this attraction to <strong>{{park.name}}</strong>
                </fieldset>
            </div>


            <input class="new_form" id="create_attraction_btn" type="submit" value="Create" />
        </form>
    </form>
    {% endif %}



    <div class="signature">
        {% comment %} <p>Made with <i class="much-heart"></i> by <a href="https://matt-crook-io.now.sh/">Quantum Management</a> 
        </p> {% endcomment %}
        <p>Made by <a href="https://matt-crook-io.now.sh/">Quantum Management</a> <i class="far fa-copyright"></i>
        </p>
    </div>
</div>

  <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Add New Attraction Type
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <p class="modal_for_example"><em>For example: Roller Coaster, Flat Ride, Launch Tower, etc...</em></p>

        <main class="modal__content" id="modal-1-content">
            <form class="new_form" id="modal" action="{% url 'quantummanagementapp:attraction_type_list' park.id %}" method="POST">
             {% csrf_token %}
                <div class="fieldset_container">
                <fieldset class="new_form" id="modal">
                    <label class="new_form_modal" for="type"><div class="type_modal_label">Type: </div></label>
                    <input required class="new_form" id="type" type="text" name="type" value="{{ type.name }}" />
                </fieldset>
                </div>
        <footer class="modal__footer">
                <input id="modal__btn-primary" type="submit" value="Create" style="margin-right: 8px;"/>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
            </form>
                <div class="signature">
                    <p>Made by <a href="https://matt-crook-io.now.sh/">Quantum Management</a> <i class="fas fa-copyright"></i>
                    </p>
    </div>
    </main>

      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/modal.js' %}"></script>
{% endblock %}
