/*************** SideBar ***************/

#overview_viewport {
  padding-left: 9%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* overflow: auto; */
}

#overview_sidebar {
  z-index: 1000;
  position: absolute;
  top: 74px;
  left: 230px;
  width: 8%;
  height: 120%;
  margin-left: -230px;
  /* overflow: auto; */
  background: rgb(17, 19, 24);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.overview_sidebar_list_item_container {
  margin-top: 20px;
  border-bottom: 1px solid #4073e071;
  padding-bottom: 30px;
  text-decoration: none;
}

.overview_sidebar_list_item_container i {
  text-decoration: none;
  color: rgb(218, 218, 218);
  margin-left: 40%;
}

.overview_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  background: none;
  padding-left: 1%;
  transition: filter 300ms;
}

.overview_sidebar_list_item_container i:hover {
  filter: brightness(1.4);
}

.overview_sidebar_logo {
  color: #fff;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-variant: small-caps;
  position: relative;
}

.overview_sidebar_logo {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.overview_sidebar_logo::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #6098ff;
  box-shadow: inset 0px 0px 0px #6098ff;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.overview_sidebar_logo:hover::before {
  width: 100%;
}

.overview_sidebar_logo::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #6098ff;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.overview_sidebar_logo:hover::after {
  width: 100%;
}
.overview_sidebar_logo:hover {
  border-left: 1px solid #6098ff;
  border-right: 1px solid #6098ff;
}

#overview_sidebar header a:hover {
  color: #fff;
}

#overview_sidebar header {
  background-color: rgb(17, 19, 24);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

/******************************* Header Bar ***************************/

.overview_header_bar_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 8%;
  margin-top: 3px;
  box-shadow: 2px 2px 2px 2px rgb(204, 204, 204);
}

.overview_bar_title {
  margin-left: 6px;
  font-variant: small-caps;
  /* font: 100 1.1em helvetica neue, open sans, sans-serif; */
}

.overview_back_button_container {
  margin-right: 1.4%;
}

.overview_back_btn {
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-size: 14px;
}

.overview_back_btn:hover {
  text-decoration: none;
  color: rgb(109, 107, 107);
}

.overview_totals_container {
  border: 1px solid rgb(211, 210, 210);
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 17%;
  margin-right: 17%;
}

.park_name_totals_title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 7px;
}

.park_numbers_row_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5px;
}
.num_of_attractions {
  margin-right: 2%;
  font-size: 14px;
  font-weight: 600;
}

.for_border_bottom {
  border-bottom: 1px solid black;
}

.num_of_attractions_variable {
  display: flex;
  justify-content: center;
}

.num_of_employees {
  margin-right: 2%;
  font-size: 14px;
  font-weight: 600;
}
.num_of_employees_variable {
  display: flex;
  justify-content: center;
}
/******************************* Charts ***************************/

/************* Pie Charts *************/
.charts_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.attendance_chart_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.employees_chart {
  border: 1px solid rgb(182, 179, 179);
}

.employees_by_role_title_chart {
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 9px;
  font-weight: 600;
  font-size: 15px;
}
.employees_by_role_title_chart i {
  margin-right: 9px;
}

.attraction_chart {
  border: 1px solid rgb(182, 179, 179);
}
.attraction_by_type_title_chart {
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 9px;
  font-weight: 600;
  font-size: 15px;
}

.attraction_by_type_title_chart i {
  margin-right: 9px;
}

.tickets_chart {
  border: 1px solid rgb(182, 179, 179);
}

.ticket_title_chart {
  margin-top: 10px;
  margin-left: 9px;
  font-weight: 600;
  font-size: 15px;
}

.ticket_title_chart i {
  margin-right: 9px;
}

.date_tickets_sold {
  font-size: 13px;
  margin-left: 10px;
  color: #848485;
}

.total_earnings_container {
  margin-right: 2%;
  font-size: 14px;
  font-weight: 600;
}

.sum_earnings_variable {
  display: flex;
  justify-content: center;
}

.total_visitors_container {
  margin-right: 2%;
  font-size: 14px;
  font-weight: 600;
}

.sum_visitors_variable {
  display: flex;
  justify-content: center;
}

/************* Combo Charts *************/
.attendance_2020_chart {
  margin-left: 4px;
}

/*********Pie Charts*********/

#employee_chart_div {
  display: flex;
  justify-content: center;
  align-items: center;
}


/******************************** Analytics Styles ********************************************/

#attraction_visitors_chart_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

#attraction_visitors_spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14%;
}



/******************************** Spinner ********************************************/




#employee_chart_overview_spinner {
  width:32px;
  height:32px;
  border-radius:32px;
  box-sizing:border-box;
  border:2px groove white;
  position:absolute;
  left: 27%;
  top: 60%;
  margin:-16px 0px 0px -16px;
  border-top-color:rgb(27, 27, 27);
  border-left-color:rgba(54, 53, 53, 0.9);
  border-bottom-color:rgba(70, 67, 67, 0.8);
  border-right-color:rgba(56, 54, 54, 0.7);
  animation: rotate 1000ms infinite linear;
  transform:translateZ(0px);
}

#attraction_chart_overview_spinner {
  width:32px;
  height:32px;
  border-radius:32px;
  box-sizing:border-box;
  border:2px groove white;
  position:absolute;
  left: 54%;
  top: 60%;
  margin:-16px 0px 0px -16px;
  border-top-color:rgb(27, 27, 27);
  border-left-color:rgba(54, 53, 53, 0.9);
  border-bottom-color:rgba(70, 67, 67, 0.8);
  border-right-color:rgba(56, 54, 54, 0.7);
  animation: rotate 1000ms infinite linear;
  transform:translateZ(0px);
}

#tickets_chart_overview_spinner {
  width:32px;
  height:32px;
  border-radius:32px;
  box-sizing:border-box;
  border:2px groove white;
  position:absolute;
  left: 80%;
  top: 60%;
  margin:-16px 0px 0px -16px;
  border-top-color:rgb(27, 27, 27);
  border-left-color:rgba(54, 53, 53, 0.9);
  border-bottom-color:rgba(70, 67, 67, 0.8);
  border-right-color:rgba(56, 54, 54, 0.7);
  animation: rotate 1000ms infinite linear;
  transform:translateZ(0px);
}

#attendance_2019_chart_spinner {
  margin-top: 12%;
  width:32px;
  height:32px;
  border-radius:32px;
  box-sizing:border-box;
  border:2px groove white;
  position:absolute;
  left: 32%;
  top: 80%;
  border-top-color:rgb(27, 27, 27);
  border-left-color:rgba(54, 53, 53, 0.9);
  border-bottom-color:rgba(70, 67, 67, 0.8);
  border-right-color:rgba(56, 54, 54, 0.7);
  animation: rotate 1000ms infinite linear;
  transform:translateZ(0px);
}

#attendance_2020_chart_spinner {
  margin-top: 12%;
  width:32px;
  height:32px;
  border-radius:32px;
  box-sizing:border-box;
  border:2px groove white;
  position:absolute;
  left: 73%;
  top: 80%;
  border-top-color:rgb(27, 27, 27);
  border-left-color:rgba(54, 53, 53, 0.9);
  border-bottom-color:rgba(70, 67, 67, 0.8);
  border-right-color:rgba(56, 54, 54, 0.7);
  animation: rotate 1000ms infinite linear;
  transform:translateZ(0px);
}

@keyframes rotate {  
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);} 
}
