/* body {
    font-family: "proxima-nova", sans-serif;
    text-align: center;
    font-size: 300%;
    font-weight: 100;
  }
  pre {
    text-align: left;
  }
  input[type=checkbox],
  input[type=radio] {
    position: absolute;
    opacity: 0;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    display: inline-block;
  }
  input[type=checkbox] + label:before,
  input[type=radio] + label:before {
    content: "";
    display: inline-block;
    vertical-align: -0.2em;
    width: 1em;
    height: 1em;
    border: 0.15em solid #0074d9;
    border-radius: 0.2em;
    margin-right: 0.3em;
    background-color: white;
  }
  input[type=radio] + label:before {
    border-radius: 50%;
  }
  input[type=radio]:checked + label:before,
  input[type=checkbox]:checked + label:before {
    background-color: #0074d9;
    box-shadow: inset 0 0 0 0.15em white;
  }
  input[type=radio]:focus + label:before,
  input[type=checkbox]:focus + label:before {
    outline: 0;
  }
  .btn {
    font-size: 140%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    background-color: #16214D;
    color: white;
  }
  .btn:hover {
    background-color: #44C7F4;
  }
  .btn:focus {
    outline: none !important;
  }
  .btn.btn-lg {
    padding: 20px 30px;
  }
  .btn:disabled {
    background-color: #333;
    color: #666;
  }
  h1,
  h2,
  h3 {
    font-weight: 100;
  }
  #logo img {
    width: 300px;
    margin-bottom: 60px;
  }
  .home-description {
    font-weight: 100;
    margin: 100px 0;
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 200%;
  }
  label {
    font-size: 100%;
    font-weight: 300;
  }
  .btn-next {
    margin-top: 30px;
  }
  .answer {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 10%;
    margin-bottom: 20px;
  }
  .login-page .login-box {
    padding: 100px 0;
  } */

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
}
  body {
    font-family: "proxima-nova", sans-serif;
    /* margin: 0;
    padding: 0; */
    /* font-size: 1.25em; */
    /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
    /* background-color: rgba(0, 0, 0, 0.945); */

  }

/*   
  .main-content {

  } */
  
  .navList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid lightgray;
    padding: 1em;
    margin: 0;
  }
  /* .small-note{
    font-size: 15px ;
  } */
  /* .add_tp_btn {
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    font-size: 15px;
    border-radius: 2px;
    margin: 0.1em;
    width: 9%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-variant: small-caps;
  }
  .program {
    margin-top: 8px;
  } */
  
  /* .past_tp_btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    color: black;
    margin-left: 5px;
  } */
  
  .nav-link:link {
    text-decoration: none;
    color: white
  }
  .nav-link:visited {
    text-decoration: none;
    color: white
  }
  
  #training_program_actions {
    margin-left: 2px;
    margin-right: 2px;
  }
  
  #site-nav {
  text-decoration: none;
  }
  
  i {
    margin-right: 2px;
    margin-left: 2px;
  }
  
  /* .add_computer_btn {
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    font-size: 15px;
    border-radius: 2px;
    margin: 0.1em;
    width: 9%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-variant: small-caps;
  }
  
  .add_employee_btn {
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    font-size: 15px;
    border-radius: 2px;
    margin: 0.1em;
    width: 9%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-variant: small-caps;
  }
  
  .add_department_btn {
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    font-size: 15px;
    border-radius: 2px;
    margin: 0.1em;
    width: 9%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-variant: small-caps;
  } */
  
  
  
  /* NEW FORMS */
  .new_form{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 0 auto;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .new_form fieldset{
    border: none;
    margin: 0px;
    padding: 0px;
  }
  .new_form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  .new_form label {
    display: block;
    margin-bottom: 8px;
  }
  .new_form input[type="text"],
  .new_form input[type="date"],
  .new_form input[type="datetime"],
  .new_form input[type="email"],
  .new_form input[type="number"],
  .new_form input[type="search"],
  .new_form input[type="time"],
  .new_form input[type="url"],
  .new_form textarea,
  .new_form select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
  }
  .new_form input[type="text"]:focus,
  .new_form input[type="date"]:focus,
  .new_form input[type="datetime"]:focus,
  .new_form input[type="email"]:focus,
  .new_form input[type="number"]:focus,
  .new_form input[type="search"]:focus,
  .new_form input[type="time"]:focus,
  .new_form input[type="url"]:focus,
  .new_form textarea:focus,
  .new_form select:focus{
    background: #d2d9dd;
  }
  .new_form select{
    -webkit-appearance: menulist-button;
    height:35px;
  }
  .new_form .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
  }
  
  .new_form input[type="submit"],
  .new_form input[type="button"]
  {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .new_form input[type="submit"]:hover,
  .new_form input[type="button"]:hover
  {
    background: #109177;
  }
  
  .add-shadow{
    text-shadow: rgba(0, 0, 0, 0.705) 1px 1px!important;
  }
