.login-card {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 38%;
  left: 50%;
  background: #f4f7f8;
  transform: translate(-50%, -50%);
}

.login-card h2 {
  margin-bottom: 10px;
  margin-top: 15px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login-card form input {
  background-color: #e8eeef;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  outline: 0;
  padding: 10px;
}

.login-card p {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
}

.login_btn {
  position: relative;
  display: block;
  padding: 10px;
  color: #fff;
  background: black;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.753);
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* On mouse-over, add a deeper shadow */
.login-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login-container {
  padding-left: 16px;
  padding-right: 16px;
  min-height: 80vh;
  position: relative;
}

.register_btn {
  font-size: 12px;
  padding-bottom: 15px;
  padding-top: 10px;
  color: rgb(8, 8, 185);
  border: none;
  background: #f4f7f8;
}

.errorlist.nonfield {
  font-size: 12px;
  color: rgba(124, 39, 39, 0.795);
}

/*************** Register Styles ***************/
/**********************************************/

.register_container {
  padding-left: 16px;
  padding-right: 16px;
  min-height: 80vh;
  position: relative;
}

.register_card {
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  background: #f4f7f8;
  transform: translate(-50%, -50%);
  margin-bottom: 100px;
  padding-bottom: 12px;
}

.register_card h2 {
  margin-bottom: 20px;
  margin-top: 15px;
}

.register_card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.register_card form input {
  background-color: #e8eeef;
  text-align: center;
  margin-top: 10px;
  outline: 0;
  padding: 4px;
}

.register_card p {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
}

.register_submit_btn {
  color: #fff;
  padding: 10px;
  background: black;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.753);
  line-height: 1;
  padding: 1em 2em;
  width: 65%;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid black;
}

.register_submit_btn:hover,
.register_submit_btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.register_submit_btn {
  --color: #08068a83;
  --hover: #02103b;
}

.register_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.helptext {
  font-size: 11px;
}
.register_card > form > ul {
  padding-left: 0px;
}

.register_card > form > ul > li {
  font-size: 10px;
  text-align: left;
}

#login_with_google {
  background-color: rgb(14, 14, 14);
  color: #eeeff0;
  border-color: #070707;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.row {
  width: 100%;
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#error_message {
  font-size: 12px;
  color: rgb(172, 42, 42);
}

#login_with_auth0.btn.btn-primary.mb-2 {
  background-color: rgb(182, 72, 8);
  color: #eeeff0;
  border-color: #070707;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

#login_with_auth0 img {
  border: none;
  margin-right: 1px;
}

.login_sub_header {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 12px;
}
