.body {
  background-size: cover;
  /* background-color: rgb(17, 19, 24); */
  background-color: #17181c;

  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.manage_parks_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 0 rgb(0, 0, 0);
  margin-bottom: 50px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
  z-index: 1;
  font-variant: small-caps;
  padding-left: 18px;
}

#create_park_btn {
  background: rgb(175, 175, 175);
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
  border: none;
  width: 65%;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid black;
}

#create_park_btn:hover,
#create_park_btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

#create_park_btn {
    --color: #08068a83;
    --hover: #02103b;
  }
