.attractions_in_park_title{
font-size: 14px;
margin-bottom: 20px;
padding-left: 10px;
border-bottom: #7c7a7a;
background-color: rgb(17, 19, 24);
color: white;
padding-bottom: 5px;
padding-top: 5px;
/* text-align: center; */
}

.manage_parks_container_details_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 2px 2px 1px rgb(173, 173, 173);
  margin-bottom: 55px;
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 2px;
  background-color: white;
  z-index: 1;
  font-variant: small-caps;
  padding-left: 5px;

}

/******** Logo Sidebar **********/
.sidebar_logo {
  color: #fff;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-variant: small-caps;
  position: relative;
  text-decoration: none;
}

.sidebar_logo {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.sidebar_logo::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #6098ff;
  box-shadow: inset 0px 0px 0px #6098ff;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.sidebar_logo:hover::before {
  width: 100%;
}

.sidebar_logo::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #6098ff;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.sidebar_logo:hover::after {
  width: 100%;
}
.sidebar_logo:hover {
  border-left: 1px solid #6098ff;
  border-right: 1px solid #6098ff;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar header {
  background-color: rgb(17, 19, 24);
  /* font-size: 20px; */
  /* line-height: 52px; */
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

#viewport {
  padding-left: 230px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: scroll;
}

/******************* Sidebar Styles *****************/

#sidebar {
  z-index: 1000;
  position: absolute;
  top: 72px;
  left: 230px;
  width: 230px;
  height: 100%;
  margin-left: -230px;
  overflow-y: auto;
  /* background: #37474f; */
  background: rgb(17, 19, 24);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* #sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
} */

.sidebar_list_item_container {
  margin-top: 20px;
  border-bottom: 1px solid #4073e071;
  padding-bottom: 30px;

}

#sidebar .nav {
  display: flex;
  flex-direction: column;
}

#sidebar .nav a {
  background: none;
  color: #cfd8dc;
  font-size: 13px;
  /* padding-top: 16px; */
  /* padding-bottom: 20px; */
  /* padding-right: 71%; */
  padding-left: 30px;
}

#sidebar .nav a:hover {
  background: none;
  color: #eceff1;
}

/********* Employee Name List Button Link *************/
.employee_name_link {
  background: none;
  color: #000000;
  text-decoration: none;
}

.employee_name_link:hover {
  text-decoration: none;
  color: rgb(155, 153, 153);
}

.employee_name_link {
  padding: 5px 10px;
  color: rgb(3, 3, 3);
  position: relative;
  text-decoration: none;
  width: 200px;
}
.employee_name_link::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098ff;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.employee_name_link:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

/********* Attraction Name List Button Link *************/
.attraction_link_btn {
  background: none;
  color: #000000;
  text-decoration: none;
}

.attraction_link_btn:hover {
  text-decoration: none;
  color: rgb(155, 153, 153);
}

.attraction_link_btn {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  text-decoration: none;
  width: fit-content;
}
.attraction_link_btn::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098ff;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.attraction_link_btn:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

/*************** Park Attraction Container and Cards ***************/
/******************************************************************/


/********* Attraction Category Title Link **************/
.attraction_category_title_link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

}

.attraction_category_title_link {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.attraction_category_title_link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #184bac;
  box-shadow: inset 0px 0px 0px #174aa7;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.attraction_category_title_link:hover::before {
  width: 100%;
}

.attraction_category_title_link::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #1b5edb;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.attraction_category_title_link:hover::after {
  width: 100%;

}
.attraction_category_title_link:hover {
  border-left: 1px solid #123c8b;
  border-right: 1px solid #1547a3;
  text-decoration: none;
  color: black

}

.attraction_category_title_link:hover {
  color: rgb(138, 137, 137)
}



.park_main_container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  /* margin-left: 10%; */

}
.park_attractions_container {
  display: flex;
  flex-direction: column;
  width: 190px;
  font-size: 12px;
  padding-bottom: 6px;
  /* margin-left: 8px; */
  /* box-shadow: 2px 2px 2px 2px rgb(190, 186, 186); */
  /* border-radius: 3px; */
  /* margin-bottom: 10px; */
  /* background-color: rgba(37, 37, 37, 0.103); */
}

.attraction_link_btn_container {
  display: flex;
  justify-content: center;
  /* font-size: 16px;
  font-weight: 900; */
}

.item_park_details {
  margin-left: 5px;
}

.employees_assigned_to_this_ride {
  font-size: 14px;
  font-weight: 900;
  margin-top: 11px;
}

.attraction_title {
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-variant: small-caps;
  border-bottom: 1px solid rgb(146, 144, 144);
  font-weight: 600;
  /* width: 90%; */
}

.attractions_column_list {
  display: flex;
  flex-direction: column;
  z-index: 1;

}
.employee_attractions_work_on_container {
  margin-left: 6px;
}

.attractions_column_list_container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.attractions_column_list_container i {
  margin-right: 5px;
}
