
/******* Body ******************/
.account_view_body {
  background-size: cover;
  /* background-color: rgb(17, 19, 24); */
  background-color: #252525fd;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/************* NavBar *****************/
.navbar-nav-account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
  padding-top: 12px;
  padding-bottom: 8px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

#logo_nav_account {
  display: flex;
  align-items: center;
  font-variant: small-caps;
  margin-right: 50px;
}

#nav_btn {
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
#nav_btn::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098ff;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

#nav_btn:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.container_1 {
  display: flex;
  flex-direction: row;
}

.container_2 {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.logout_btn_account {
  margin-right: 10px;
}

.django_admin_btn_account {
  margin-left: 6px;
}

.manage_account_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  background-color: #fff;
  margin-top: 5px;
  padding-top: 5px;
}

.manage_account_title {
  margin-left: 20px;
  font-size: large;
  font: 100 1.1em helvetica neue, open sans, sans-serif;
}

/*************** Nav Button Edit Account *************/
.add_account_button {
  align-items: center;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 50;
  border-radius: 5px 5px 5px 5px;
  border: none;
  margin-bottom: 4px;
  background-color: #b8b5b5;
  width: 10%;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 1px 1px 1px 1px rgb(168, 168, 168);
  border: 1px solid rgb(145, 21, 21);
}

.add_account_button:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}

.add_account:link {
  text-decoration: none;
  color: black;
}
.add_account:visited {
  text-decoration: none;
  color: black;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}

.add_account:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}

/*************** Banner Graphic Picture ************/
.banner_picture_on_profile {
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: #020914;
}

#account_banner_image {
  /* width: 40%; */
  border: none;
}

/**************** User Profile Picture *************/
.profile_picture_account_view {
  margin-top: 15px;
  margin-left: 20px;
}
.image_on_account_view {
  border-radius: 50%;
}

/************** Main Container Flex Box for Body Info *************/
.account_view_outer_container {
  display: flex;
}

.account_view_inner_info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 15px;
  width: 25%;
}

.account_info_title {
  color: rgb(212, 212, 212);
  font-variant: small-caps;
  border-bottom: 1px solid rgb(114, 113, 113);
  width: 80%;
  margin-bottom: 10px;
}
.user_profile_info {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(212, 212, 212);
}

.employees_user_responsible_container_account_view {
  margin-left: 18%;
  background: transparent;
  width: 300px;
  border-radius: 8px;
}

.employee_user_responsible_title_account_view {
  border-bottom: 1px solid #8a8b8d;
  margin-top: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: rgb(212, 212, 212);
}

/***************List of EMployees Admin User Responsible For Link Buttons **************/
/**************************************************************************************/

.list_employee_item_account_view {
  margin-left: 10px;
  color: rgb(155, 151, 151);
}

.link_to_employee_details_account_view {
  text-decoration: none;
  padding: 6px 22px;
  margin: 8px 8px;
  color: rgb(173, 173, 173);
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  position: relative;
  display: inline-block;
}

.link_to_employee_details_account_view {
  border: 1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.link_to_employee_details_account_view::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  background: #6098ff;
  box-shadow: inset 0px 0px 0px #6098ff;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

.link_to_employee_details_account_view:hover::before {
  width: 100%;
}

.link_to_employee_details_account_view::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background: #6098ff;
  -webkit-transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.link_to_employee_details_account_view:hover::after {
  width: 100%;
}
.link_to_employee_details_account_view:hover {
  text-decoration: none;
  border-left: 1px solid #6098ff;
  border-right: 1px solid #6098ff;
}

.no_employees_assigned {
  color: rgb(139, 139, 139);
  font-size: 15px;
  margin-left: 5px;

}
