.manage_employees_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 5px;
}

.manage_employees_title {
 margin-left: 20px;
 font-size: large;
 font-variant: small-caps;
}

.add_employee_button {
  align-items: center;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 50;
  border-radius: 3px;
}

.add_employee:link {
  text-decoration: none;
  color: black;
}
.add_employee:visited {
  text-decoration: none;
  color: black;
}


.add_tp_btn {
  background-color: white;
}

.add_tp_btn:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}

.add_employee:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}


.role_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.employee_link:link {
  text-decoration: none;
  color: black;
}
.employee_link:visited {
  text-decoration: none;
  color: black;
}
.roles_card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

}

.role_container {
  flex-direction: column;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  border-radius: 5px;
}

.roles_title_container {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px rgb(184, 183, 183);

}
.role_item {
  margin-top: 10px;
  margin-bottom: 10px;
}


.edit_employee_btn {
  border: none;
  margin-left: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 50;
  /* font-variant: small-caps; */
}


.edit_employee_btn:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}

.edit_btn:link {
  text-decoration: none;
  color: black;
}
.edit_btn:visited {
  text-decoration: none;
  color: black;
}

.edit_btn:hover {
  animation: fade 1s both;
}

@keyframes fade {
  0% {
    background: white;
  }
  100% {
    background: #3e4247;
    color: white;
  }
}
