{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="manage_parks_container">
    <div class="manage_parks_title">Manage Parks</div>
    <div class="select_park_header">Select a Park To View Details</div>
    <div class="add_park_button">
        <button class="add_tp_btn"><a class="add_park" href="{% url 'quantummanagementapp:park_form' %}">Add Park</a></button>
    </div>
</div>
{% endif %}

{% if request.user.is_authenticated %}
<div class="park_list_outer_container">
    {% for park in parks %}
    <div class="park_list_inner_container">
         <div class="park_name_and_icons_container">
             <a href="{% url 'quantummanagementapp:park' park.id %}" id="park_name" class="park_list_name">{{ park.name }}</a>
                 <div class="edit_delete_park_icons">

                   <a href="{% url 'quantummanagementapp:park_edit_form' park.id %}">
                         <button class="park_edit_btn"><i class="far fa-edit"></i></button>
                    </a>

                    <form action="{% url 'quantummanagementapp:park' park.id %}" method="POST">
                         {% csrf_token %}
                         <input type="hidden" name="actual_method" value="DELETE"/>
                             <button class="delete_park_btn"><i class="far fa-trash-alt"></i></button>
                    </form>
                </div>
        </div>
         <div class="park_list_details_container">
         <div id="state" class="park_list_item">State: {{ park.state }}</div>
         <div class="park_list_item">Max Capacity: {{ park.max_capacity }}</div>
         <div class="park_list_item">Number of Attractions: {{ park.number_of_attractions }}</div>
         </div>
    </div>
     {% endfor %}
</div>
{% endif %}

{% endblock  %}

{% block scripts %}
<script src="{% static 'scripts/buttonHandlers.js'%}"></script>
{% endblock %}
