{% extends 'shared/base.html' %}
{% load static %}


{% block content %}

{% if request.user.is_authenticated %}
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <a class="sidebar_logo" href="#">Quantum</a>
        </header>
        <ul class="nav">
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="{% url 'quantummanagementapp:park' park.id %}"><i class="fas fa-globe"></i>
                    Dashboard
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="{% url 'quantummanagementapp:overview' park.id %}"><i class="fas fa-chart-pie"></i>
                     Overview
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a id="analytics" class="dashboard_link" href="{% url 'quantummanagementapp:analytics' park.id %}"><i class="far fa-chart-bar"></i>
                   Analytics
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="{% url 'quantummanagementapp:create_attraction' park.id %}"><i class="fas fa-plus-circle"></i>
                   Add or Delete Attraction
                </a>
            </li>
            <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="{% url 'quantummanagementapp:park_list_employees' park.id %}"><i class="fas fa-users"></i>
                    Employees
                </a>
            </li>
           {% comment %} <li class="sidebar_list_item_container">
                <a class="dashboard_link" href="#">
                  Contact
                </a>
            </li> {% endcomment %}
        </ul>
    </div>

    <div class="manage_parks_container_details_page">
        <div class="manage_parks_title">{{park.name}}</div>
        <div class="select_park_header">Park Details Dashboard</div>
        <div class="park_details_back_btn_container">
            <a class="park_details_back_btn" href="{% url 'quantummanagementapp:parks' %}"><i
                    class="fas fa-long-arrow-alt-left"></i>Back</a>
        </div>
    </div>
    {% comment %} <div> Select Category to view more details...</div> {% endcomment %}

    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="park_main_container">
    {% for attraction_in_park in types_in_park %}
        <div class="attractions_column_list_container">

        {% if attraction_in_park.name == 'Family Ride' %}
             <h6 class="attraction_title"><i class="fas fa-users"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Roller Coaster' %}
             <h6 class="attraction_title"><i class="fas fa-child"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Thrill Ride' %}
             <h6 class="attraction_title"><i class="fas fa-skull-crossbones"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Flat Ride' %}
             <h6 class="attraction_title"><i class="far fa-grin-beam"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Area/ Zone' %}
             <h6 class="attraction_title"><i class="fas fa-street-view"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Restaurant' %}
             <h6 class="attraction_title"><i class="fas fa-utensils"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Car Ride' %}
             <h6 class="attraction_title"><i class="fas fa-car"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Swings' %}
             <h6 class="attraction_title"><i class="fas fa-smile"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Walk Through' %}
             <h6 class="attraction_title"><i class="fas fa-walking"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Consessions' %}
             <h6 class="attraction_title"><i class="fas fa-hamburger"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Water Ride' %}
             <h6 class="attraction_title"><i class="fas fa-water"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% elif attraction_in_park.name == 'Launch Tower' %}
             <h6 class="attraction_title"><i class="fas fa-rocket"></i><a class="attraction_category_title_link" href="{% url 'quantummanagementapp:park_category_details_list' park.id attraction_in_park.id %}">{{attraction_in_park.name}}</a></h6>
        {% endif %}

        <div class="attractions_column_list">
            {% for park_attraction in park_attractions %}
                {% if park_attraction.attraction.type.id == attraction_in_park.id %}
                    <div class="park_attractions_container">
                    <div class="attraction_link_btn_container"><a class="attraction_link_btn" href="#">{{park_attraction.attraction.name}}</a></div>

                </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    {% endfor %}
    </div>
</div>
{% endif %}

{% endblock  %}

{% block scripts %}
    <script src="{% static 'scripts/parkDetailsCheck.js' %}"></script>
{% endblock  %}
