{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/employees/employee_list.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/employees/employee_detail.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/parks/park_form.css' %}" type="text/css" media="screen" />

</head>

<body class="body">
    <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li id="btn4" class="nav-item">
            <a class="nav-link" href="{% url 'quantummanagementapp:home' %}">Home</a>
        </li>
        <li id="btn4" class="nav-item">
            <a class="nav-link" href="{% url 'quantummanagementapp:employee_list' %}">Manage Employees</a>
        </li>
        <li id="btn4" class="nav-item">
            <a class="nav-link" href="{% url 'quantummanagementapp:parks' %}">Manage Park</a>
        </li>

        <li id="btn4" class="nav-item">
            <a class="nav-link" href="{}">Admin Profile</a>
        </li>
        <li id="btn4" class="nav-item">
            <a class="nav-link" href="{% url 'quantummanagementapp:logout' %}">Logout</a>
        </li>

        {% else %}
        <div class="nav-item" id="logo_nav_landing_page">Quantum</div>

        <li id="login_link" class="nav-item">
            <div id="btn4">
                <a class="nav-link" href="{% url 'quantummanagementapp:login' %}">Login</a>
            </div>
        </li>
        {% endif %}

        <li id="btn4" class="nav-item">
            <a class="nav-link" id="django_admin" href="{% url 'quantummanagementapp:admin' %}">Django Admin</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <img class="nav_profile_picture" src="{{user.admin_user.picture}}">
        </li>
        {% endif %}
    </ul>

    <div class="manage_parks_container">
        <div class="manage_parks_title">Manage Parks</div>
        <div class="manage_parks_title">Add New Park</div>


        <div class="add_employee_button">
            <button class="add_tp_btn"><i class="fas fa-backward"></i><a class="add_employee"
                    href="{% url 'quantummanagementapp:parks' %}">Back</a></button>
        </div>
    </div>

    {% if park.id is not None %}
    <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:park_form' park.id %}"
        method="POST">
        {% csrf_token %}
        {% else %}
        <form class="new_form" id="form_container" action="{% url 'quantummanagementapp:parks' %}" method="POST">
            {% csrf_token %}
            {% endif %}


            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="name">Park Name: </label>
                    <input class="new_form" id="name" type="text" name="name" value="{{ park.name }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="state">Park State: </label>
                    <input class="new_form" id="state" type="text" name="state" value="{{ park.state }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="max_capacity">Max Capacity: </label>
                    <input class="new_form" id="max_capacity" type="number" name="max_capacity"
                        value="{{ park.max_capacity }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <label class="new_form" for="number_of_attractions">Number of Attractions: </label>
                    <input class="new_form" id="number_of_attractions" type="number" name="number_of_attractions"
                        value="{{ park.number_of_attractions }}" />
                </fieldset>
            </div>

            <div class="fieldset_container">
                <fieldset class="new_form">
                    <section class="form_admin_note"><strong>Admin User:</strong> {{user.first_name}} {{user.last_name}}
                        -
                        {{user.email}}</section>
                    <div class="p2">*Note - Only admin user responsible for adding a park may make any future edits.
                    </div>
                </fieldset>
            </div>

            {% if park.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="new_form" type="submit" value="Update" />
            {% else %}
            {% comment %} <div class="bar-anchor"> {% endcomment %}
                <input class="new_form" id="create_park_btn" type="submit" value="Create" />
                  {% comment %} <div class="transition-bar"></div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% endif %}
        </form>
    </form>



    <div class="signature">
        <p>Made with <i class="much-heart"></i> by <a href="https://matt-crook-io.now.sh/">Quantum Management</a>
        </p>
    </div>


    <script src="../../static/scripts/buttonHandlers.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    </div>

</body>

</html>
