{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'styles/employees/employee_list.css' %}" type="text/css" media="screen" />



    {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" type="text/css" />


    {% block css %}
    {% endblock %}

</head>

<body>
    {% comment %} <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #16a085;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:employee_list' %}"> Manage Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:park_list' %}">Manage Park</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:computers' %}">Analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:trainingprograms' %}">Profile</a>
                </li>

            </ul> {% endcomment %}
        
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:employee_list' %}">Manage Employees</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{}">Manage Park</a>
                </li>                 
                 {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{}">Analytics</a>
                </li> {% endcomment %}
                 <li class="nav-item">
                    <a class="nav-link" href="{}">Admin Profile</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:logout' %}">Logout</a>
                </li> 

                {% comment %} <div class="logged-in-box auth0-box logged-in">
                    <h1 id="logo"><img src="//cdn.auth0.com/samples/auth0_logo_final_blue_RGB.png" /></h1>
                    <img class="avatar" src="{{ auth0User.extra_data.picture }}"/>
                    <h2>Welcome {{ user.username }}</h2>
                    <pre>{{ userdata }}</pre>
                    <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
                </div> {% endcomment %}

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:login' %}">Login</a>
                </li>  

                {% comment %} <div class="login-box auth0-box before">
                    <img src="https://i.cloudup.com/StzWWrY34s.png" />
                    <h3>Auth0 Example</h3>
                    <p>Zero friction identity infrastructure, built for developers</p>
                    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In</a>
                </div> {% endcomment %}
                {% endif %}


                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quantummanagementapp:admin' %}">Django Admin</a>
                </li>
            </ul>
            {% comment %}
        </div>
    </nav> {% endcomment %}

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    {%block scripts%}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% endblock scripts %}

</body>

</html>
